In [1]:
import boto3
import pandas as pd
import numpy as np
from io import StringIO
from scipy.stats import entropy
from datetime import datetime

S3_BUCKET = 'dmm-microbench'

s3 = boto3.client('s3', aws_access_key_id="AKIASVDNFDSGZYUVLQED", aws_secret_access_key="y8XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXre")

def download_s3_file(file_name, destination_file_name):
    s3.download_file(Bucket=S3_BUCKET, Key=file_name, Filename=destination_file_name)

def get_content(file_name, expression):
    return s3.select_object_content(
        Bucket=S3_BUCKET,
        Key=file_name,
        ExpressionType='SQL',
        Expression=expression,
        InputSerialization={'CSV': {"FileHeaderInfo": "Use"}},
        OutputSerialization={'CSV': {}},
    )


def convert_data_to_df(data, record_header):
    for event in data['Payload']:
        if 'Records' in event:
            record_header.append(event['Records']['Payload'])
    csv_content = ''.join(r.decode('utf-8').replace("\r", "") for r in record_header)
    csv_pd = pd.read_csv(StringIO(csv_content))

    print('\n##################################')
    print(f"Length of dataframe: {len(csv_pd)}")
    print(f"Memory usage of dataframe: \n {csv_pd.info(memory_usage='deep')}")
    print('\n##################################')

    return pd.DataFrame(csv_pd)

def read_dask_csv(file_name):
    import dask.dataframe as dd
    dd.read_csv(file_name)

In [6]:
%%time
for i in range(1,9):
    download_s3_file(f"yellow_tripdata_2019-0{i}.csv", f"yellow_tripdata_2019-0{i}.csv")

CPU times: user 16.5 s, sys: 20.1 s, total: 36.5 s
Wall time: 34.2 s

In [17]:
%%time
import dask.dataframe as dd
dask_df = dd.read_csv(f"yellow_tripdata_2019-*.csv", assume_missing=True)

CPU times: user 76 ms, sys: 8 ms, total: 84 ms
Wall time: 82.2 ms

In [15]:
import dask
dask.config.set(scheduler='processes')

In [19]:
%%time
dask_df.head()

CPU times: user 40 ms, sys: 112 ms, total: 152 ms
Wall time: 2.58 s

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.5,1.0,N,151.0,239.0,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1.0,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.6,1.0,N,239.0,246.0,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2.0,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.0,1.0,N,236.0,236.0,1.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2.0,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.0,1.0,N,193.0,193.0,2.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2.0,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.0,2.0,N,193.0,193.0,2.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [11]:
columns = ["passenger_count", "trip_distance", "fare_amount", "extra", "mta_tax", "tip_amount", "tolls_amount", "improvement_surcharge", "total_amount", "congestion_surcharge"]

In [ ]:
%%time
import dask.array as da
import dask
def histogram_compute(col):
    col_data = dask_df[col]
    h, bins = da.histogram(col_data, bins=100, range=[col_data.min(), col_data.max()])
    return (h, bins)
all_computations = map(histogram_compute, columns)
list_of_col_hists = dask.compute(all_computations)
for item in list_of_col_hists:
    print(item)

In [20]:
## Compute histograms for categorical columns

In [4]:
categorical_columns = ["store_and_fwd_flag", "payment_type"]

In [5]:
%%time
for col in categorical_columns:
    data = dask_df[col]
    data.dropna().compute()

/usr/local/anaconda/lib/python3.6/site-packages/dask/core.py:121: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  return func(*(_execute_task(a, cache) for a in args))
/usr/local/anaconda/lib/python3.6/site-packages/dask/core.py:121: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  return func(*(_execute_task(a, cache) for a in args))

CPU times: user 3min 37s, sys: 15.1 s, total: 3min 52s
Wall time: 1min 46s

In [ ]:
%%time
for col in categorical_columns:
    col_data = dask_df[col]
    bins = col_data.unique()
    counts = col_data.value_counts()
    print(dd.compute(bins, counts))